body { 
        color: rgb(39, 116, 126);
        background-color: beige;
        font-size: 2em;
  }

   .black-border {
        background-color: cornflowerblue;
  }
  
   #green-background {
        background-color: rgb(221, 174, 112);
  }

   header > nav > a{
      color:white;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Krub', sans-serif;
  }

  header > nav > a:hover {
      color: pink;
  }

  .about {
      background-color: cornflowerblue;
      color: white;
  }

  .groentes {
      background-color: pink;
      color: cornflowerblue;
  }

  .fruit {
      background-color: red;
      color:cornflowerblue;
  }

  header, main, footer {
      border: 2px solid grey;
      margin: 5px auto;
      width: auto;
      padding: 5px 10px;
  }

  .navi {
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
        background-color: darkgray;
  }

  .nav-button {
      float: left;
  }

  .nav-button > a {
      display: block;
      color: black;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Krub', sans-serif;
      padding: 10px 15px;
    }

  .nav-button > a:hover {
      background-color: cadetblue;
      color: blanchedalmond;
  }

  @media (min-width: 1024px) {

      header, main, footer {
          width: 900px;
      }

      body, .groentes, .fruit {
          background-color:rgb(255, 255, 255);
          color: darkolivegreen;
          font-size: 1em;
          line-height: 200%;
      }
  }