.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }
  
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -100%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }

  @media (max-width: 767px) {

    video {
      display: none;
    }

    .fullscreen-bg {
      background: url('Images/Yoga_Eline_home.jpg') center center / cover no-repeat;
    }
  }

  .home {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    background-color: cadetblue;
  }

  .home-image{
    padding: 50px;
  }

.topnav {
  background-color: cadetblue;
  overflow: hidden;
  position: relative;
  display: flex;
}
.topnav #menu-yoga {
  display: none;
  width: 100%;
}

.topnav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
  text-align: right;
  font-family: "Roboto", sans-serif;
}

.active {
  background-color: darkcyan;
  height: inherit;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.icon > .fa {
  font-size: 2em;
  color: white;
  padding: 14px;
}

#menu-yoga a:hover{
  background-color: white;
  color: cadetblue;
  height: inherit;
}

main {
margin-bottom: 60px;
}

.bigscreen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.bigscreen-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 5px 0;
}

.header-logo {
  place-self: flex-start;
}

.topnav > .bigscreen> .header-logo > a {
  padding: 0;
}

.contentborder {
  border: solid 2px cadetblue;
  padding: 20px;
  margin-top: 5px;
}

.head-image {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 5px 0;
  height: auto;
}

.head-image > img {
  height: auto;
  width: 100%;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px cadetblue;
  padding: 0;
  margin: 0;
  width: 99.5%;
}

.content-box > hr {
  width: 100%;
  border: solid 0.5px cadetblue;
  margin: 0;
}

.content-box > p {
  place-self: flex-start;
  margin: 10px 5px;
}

.les1 {
  background-image: url("Images/Yin_yoga.jpg");
}

.les2 {
  background-image: url("Images/About.jpg");
}

.les1, .les2 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.les1 > a, .les2 > a {
  text-decoration: none;
}

.les1 > a > p, .les2 > a > p {
  background-color: white;
  padding: 15px;
}

h2, p {
  font-family: "Roboto", sans-serif;
  color: cadetblue;
}

h2 {
  text-transform: uppercase;
  margin: 5px;
}

table {
  width: 100%;
}

input, textarea {
  border: solid 1px cadetblue;
  font-family: "Roboto", sans-serif;
}

input:focus-visible, textarea:focus-visible {
  border: solid 2px cadetblue;
  outline: cadetblue;
}

#verzend-knop {
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
}

footer {
  height: 50px;
  background-color: white;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

footer > p {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: cadetblue;
}

footer > P > a > .fa {
  padding: 0 10px;
  color: cadetblue;
}

@media screen and (min-width: 768px) {

  .topnav a.icon {
    display: none;
  }
  
  .topnav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .bigscreen {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .bigscreen-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px 0;
  }

  .topnav figure {
    display: flex;
    flex: 1;
  }

  .topnav #menu-yoga {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
  }
   
  .topnav a {
  display: flex;
  align-items: center;
  }

  #menu-yoga a:hover {
    height: inherit;
  }

  main {
    display: flex;
    flex-direction: row;
  }

  .head-image {
    width: 50%;
    margin: 0 5px 0 0;
    height: 100%;
  }

  .head-image > img {
    height: 100%;
    width: auto;
  }

  .content-box {
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .les1, .les2 {
    width: 25%;
    margin: 0 0 0 5px;
  }

  .content-box > P {
    margin: 10px 15px;
  }

  .contentborder {
    width: 100%;
  }

  td:first-of-type {
    width: 25%;
  }

  td, input, textarea {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {

  .bigscreen {
    width: 75%;
    margin: 5px 0;
  }

  .bigscreen-main {
    width: 75%;
    margin: 5px 0 ;
  }

  .head-image {
    height: 100%;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contentborder {
    width: 75%;
  }

}